{% extends "polls/base_site.html" %}
{% block content %}

<div id="content-main">

<!--'''### lista de questions'''-->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}
        </a>{{ question.pub_date }}{{asignadas_choice}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay encuestas disponibles.</p>
{% endif %}

</div>
{% endblock %}
