{% extends "polls/base_site.html" %}
{% block content %}
<div id="content-main">

<h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>
      {{ choice.choice_text }}
      -->
      {{ choice.votes }}
      voto{{ choice.votes|pluralize }}
    </li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Votar otra vez?</a>

</div>
{% endblock %}
