

<h1>{{ question.question_text }}</h1>
Usted está votando a {{ question.id }}
-
{{ question.question_text }}

<h3> Posibles respuestas</h3>
<ul>
{% for choice in question.choice_set.all %}
    <li>
      {{ choice.choice_text }}
    </li>
{% endfor %}
</ul>
