body {
    background: white url("images/backxxground.gif") no-repeat;
}
li a {
    color: green;
}
h1, h1 a:link, h1 a:visited {
	color: blue;
}
a:link, a:visited {
	color:  violet;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: #ccc;
}
